<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-username" data-rule="required" class="form-control" name="row[username]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Realname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-realname" data-rule="required" class="form-control" name="row[realname]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" data-rule="required" class="form-control" name="row[password]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ip')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ip" class="form-control" name="row[ip]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lastlogin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lastlogin" class="form-control" name="row[lastlogin]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('X')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-x" data-rule="required" class="form-control" name="row[x]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Y')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-y" data-rule="required" class="form-control" name="row[y]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Z')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-z" data-rule="required" class="form-control" name="row[z]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('World')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-world" data-rule="required" class="form-control" name="row[world]" type="text" value="world">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Regdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-regdate" data-rule="required" class="form-control" name="row[regdate]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Regip')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-regip" class="form-control" name="row[regip]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Yaw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-yaw" class="form-control" name="row[yaw]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pitch" class="form-control" name="row[pitch]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-email" class="form-control" name="row[email]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Islogged')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-isLogged" data-rule="required" class="form-control" name="row[isLogged]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hassession')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hasSession" data-rule="required" class="form-control" name="row[hasSession]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Totp')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totp" class="form-control" name="row[totp]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
